* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --hue: 100;
    --color-base-white: hsl(0, 0%, 100%);
    --color-base-gray-100: hsl(0, 0%, 96%);
    --color-base-gray-300: hsl(var(--hue), 60%, 58%);
    --color-base-gray-500: hsl(0, 0%, 24%);
    --color-base-gray-900: hsl(var(--hue), 60%, 20%);
}

html, body, input {
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
    color: var(--color-base-gray-900);
}

a:hover {
    color: var(--color-base-gray-300);
}

ul {
    list-style: none;
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    padding: 1rem 7rem;
    width: min(70rem, 100%);
    margin: 0 auto;
}

main {
    overflow-y: scroll;
    background-color: var(--color-base-gray-100);
}

header {
    --startY: -100%;
    animation: move .2s;
}

header, nav, nav ul {
    display: flex;
    align-items: center;
    gap: 4.5rem;
}

header form {
    flex: 1;
}

nav ul {
    font-size: 1.13rem;
    color: var(--color-base-gray-300);
}

ul li.active {
    color: var(--color-base-gray-900);
    font-weight: 700;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-base-gray-100);
    border: 0;
    border-radius: 1rem;
    font-size: 1rem;
}

.input-wrapper input::placeholder {
    color: var(--color-base-gray-500);
    opacity: 0.56;
}

.avatar {
    width: 2.625rem;
    height: 2.625rem;
    object-fit: cover;
    border-radius: 50%;
    background: url(https://randomuser.me/api/portraits/women/5.jpg), lightgray 0px -3.5px / 100% 150% no-repeat;
    background-position: center center;
    background-size: cover;
}

/* gallery */
main h1 {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.gallery {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
}

.item {
    background: var(--color-base-white);
    border-radius: .5rem;
    overflow: hidden;

    position: relative;
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

.item img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

    /* transition-property: all;
    transition-duration: 300ms;
    transition-delay: 0s;
    transition-timing-function: ease-out; */

    transition: all 300ms ease-out;
    display: block;
}

.item img:hover {
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    transform: scale(1.1) rotate(-2deg);
}

.details {
    padding: 1.3rem;
    background: var(--color-base-white);
    z-index: 1;
}

.details h2 {
    font-size: 1.2rem;
}

.tags {
    margin-top: 0.8rem;
}

.tags span {
    padding: .4rem;
    background: var(--color-base-gray-100);
    border-radius: .2rem;
    line-height: 160%;
    font-size: .6rem;
    text-transform: uppercase;
}

footer {
    --startY: 100%;
    animation: move .2s;
    text-align: center;
}

footer p {
    padding: 1rem;
    font-weight: 600;
}

@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.2);
    }
}